.App {
  padding: 64px 0;
  max-width: 512px;
  margin: 0 auto;
}

.action {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  padding: 16 px;
  align-items: center;
  margin-bottom: 32px;
}
